wp-admin/
wp-includes/
wp-content/uploads/
wp-content/plugins/
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
git-pull.php
wp-config.php
error_log
sitemap.xml
robots.txt
wordfence-waf.php
wp-content/advanced-cache.php
wp-content/cache/
wp-content/themes/tcf-theme/error_log
wp-content/themes/twentynineteen/error_log
wp-content/themes/twentytwenty/
wp-content/wflogs/
wp-content/wp-rocket-config/

